/*Common elements*/
/*Header*/
body{
    background-color: white;
    margin-top: 7em;
}
h1{
    /*color: rgba(234,35,41,255);*/
    font-size: 2.0em;
    padding: 0;
    text-align: left;
    /*font-family: Arial, sans-serif ;*/
    letter-spacing: 0.02em;
    margin: 0;
}
p{
    font-size: 1.2em;
    line-height: 1.4em;
    color: black;
    margin: 0px 0.5em 0.75em 0px;
    padding: 0px;
    text-align: justify;
}

#left{
    text-align: left;
    margin: 2em;
}
#right{
    text-align: right;
    margin: 2em;
}
#center{
    text-align: center;
    margin: 2em;
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
}
    
/*Nav Bars*/
nav.TopMenu{
    position: fixed;
    top:0;
    color: grey;
    font-size: 1.7em;
    font-family: 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.04em;
    width: 98%;
    padding: .50em ;
    background-color: rgba(9,132,120,255);
    text-align: right;
    text-decoration: none;
}
nav ul{
    margin: 0.5;
    padding: 0;
    list-style: none;
    color: whitesmoke;
    text-decoration: none;
}
nav li{
    display: inline-block;
    margin: 0;
    text-decoration: none;

}
 nav li a, nav li a:visited{ 
    /* font-family:fantasy; */
    color:white;
    padding: 0.3em 0.6em;
    text-decoration: none;
}

#socialIcon{
    border-radius: 50%;
    margin-right: -10px;
    margin-left: -10px;
    /* size: 15px; */
}
.redbar{
    background-color: rgba(234,35,41,255);
    height: 6em;
    margin-top: 2em;
}

#narrowParagraph{
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#thinTeal{
    background-color: rgba(9, 132, 120, 255);
    height: .5em;
    margin-top: 1em;
    margin-right: 2em;
    margin-left: -1.5em;
}
#thinRed{
    background-color: rgba(234,35,41,255);
    height: .5em;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: -1.5em;
    
}

.Logo{
    text-align: center;
    padding: 2em;
    background-image: url('Assets/just_bubbles.png');  
    height: 30em;
}

.TextPanelNarrow{
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 45%;
    color: black;
    /*background-color: rgba(9,132,120,255);*/
    text-align: justify;
    padding: 2em;
}
@media screen and (max-width: 1000px) {
    .TextPanelNarrow {
      width: 100%;
    }
  }

.contentWrapper{
    margin: auto;
    max-width: 1400px;
    padding: 0 3.0em;
}
/* leave above ALONE*/

.panelText{
    float:left;
    position: relative; 
    width: 29%;
    margin: 0 0.5em 2.0em 0.5em;
    padding: 1.0em;
    background-color: white;
    color: black;    
}

section div.panelText img.Filler{
    width: 100%;
}
@media screen and (max-width: 1000px) {
    .panelText {
      width: 100%;
    }
  }
/*
#Drink{
    float: left;

}
#Story{

}
#Map{

}
*/

button {
    background-color: rgba(9,132,120,.7);
    border: 1px solid rgba(9,132,120,255);
    color: black;
    display: inline-block;
    margin: 0 0.75em 0 0;
    padding: 0.5em;
    text-transform: uppercase;
}
button:hover {
    color: grey;
    background-color: #fff;
}
/*Footer*/
.footer{ 
    background-color:  rgba(9,132,120,255);
    width: 100%;
}

