/*Common elements*/
/*Header*/
body{
    background-color: white;
    margin-top: 7em;
}
h1{
    /*color: rgba(234,35,41,255);*/
    font-size: 2.0em;
    padding: 0;
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.02em;
    margin: 0;
    
}
p{
    font-size: 1.2em;
    line-height: 1.4em;
    color: black;
    margin: 0px 0.5em 0.75em 0px;
    padding: 0px;
    text-align: justify;
    font-family: 'Libre Baskerville', serif;
    
}
textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}
input.Submit{
    text-align: center;
    width: 20%;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
iframe{
    padding-right: 2em;
}
#left{
    text-align: left;
    margin: 2em;
}
#right{
    text-align: right;
    margin: 2em;
}
#center{
    text-align: center;
    margin: 2em;
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
}
    
/*Nav Bars*/
nav.TopMenu{
    position: fixed;
    top:0;
    color: grey;
    font-size: 1.3em;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.02em;
    width: 98%;
    padding: .50em ;
    background-color: rgba(9,132,120,255);
    text-align: right;
    text-decoration: none;
}
nav ul{
    margin: 0.5;
    padding: 0;
    list-style: none;
    color: whitesmoke;
    text-decoration: none;
}
nav li{
    display: inline-block;
    margin: 0;
    text-decoration: none;

}
 nav li a, nav li a:visited{ 
    /* font-family:fantasy; */
    color:white;
    padding: 0.3em 0.6em;
    text-decoration: none;
}

#socialIcon{
    border-radius: 50%;
    margin-right: -10px;
    margin-left: -10px;
    /* size: 15px; */
}

.calendarWrapper{
    margin: auto;
    max-width: 1600px;
    padding: 2.0em;
    text-align: center;    
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.02em;
}
.redbar{
    background-color: rgba(234,35,41,255);
    height: 6em;
    margin-top: 2em;
    width: 100%;
}
.Form{
    margin: 5%;
    font-family: sans-serif;
    text-align: left;
    width: 50%;
    float:left;
    position: relative; 
    padding: 1.0em;
    
}
#narrowParagraph{
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.02em;
}

#thinTeal{
    background-color: rgba(9, 132, 120, 255);
    height: .5em;
    margin-top: 1em;
    margin-right: 2em;
    margin-left: -1.5em;
}
#thinRed{
    background-color: rgba(234,35,41,255);
    height: .5em;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: -1.5em;
    
}

.Logo{
    text-align: center;
    padding: 2em;
    background-image: url('Assets/just_bubbles.png');  
    height: 30em;
}
.AboutUsPanel{
    float:left;
    position: relative; 
    width: 29%;
    margin: 0 0.5em 2.0em 0.5em;
    padding: 1.0em;
    color: black;
    text-align: right;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.02em;
}
.TextPanelNarrow{
    font-family: 'Libre Baskerville', serif;
    margin: auto;
    margin-top: 6em;
    margin-bottom: 3em;
    width: 45%;
    color: black;
    text-align: justify;
    padding: 2em;
}
@media screen and (max-width: 1000px) {
    .TextPanelNarrow {
      width: 100%;
    }
  }

.contentWrapper{
    margin: auto;
    max-width: 1400px;
    padding: 0 3.0em;
}
/* leave above ALONE*/

.panelText{
    float:left; 
    width: 29%;
    height: 55em;
    margin: 0.5em 0.5em 2.0em 0.5em;
    padding: 1.0em;
    background-color: white;
    color: black;    
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.02em;
}
.panelText1{
    float:left;    
    width: 29%;
    height: 25em;
    margin: 0.5em 0.5em 2.0em 0.5em;
    padding: 1.0em;
    background-color: white;
    color: black;    
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.02em;
}
.panelText2{
    float:right;
    width: 29%;
    height: 25em;
    margin: 0.5em 0.5em 2.0em 0.5em;
    padding: 1.0em;
    background-color: white;
    color: black;    
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.02em;
}
.OwnerPanelText{
    float:left;
    width: 55%;
    height: 25em;
    margin: 2.0em;
    padding: 2.0em;
    background-color: white;
    color: black; 
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.02em;
}
.OwnerPanelText2{
    float:right;
    width: 55%;
    height: 25em;
    margin: 2.0em;
    padding: 2.0em;
    background-color: white;
    color: black; 
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.02em;
}

section div.panelText img.Filler{
    width: 100%;
}
@media screen and (max-width: 1000px) {
    .panelText {
      width: 100%;
    }
  }

  section div.panelText2 img.Filler{
    width: 100%;
}
@media screen and (max-width: 1000px) {
    .panelText2 {
      width: 100%;
    }
  }
  section div.panelText1 img.Filler{
    width: 100%;
}
  @media screen and (max-width: 1000px) {
    .panelText1 {
      width: 100%;
    }
  }
/*
#Drink{
    float: left;

}
#Story{

}
#Map{

}
*/

button {
    background-color: rgba(9,132,120,.7);
    border: 1px solid rgba(9,132,120,255);
    color: black;
    display: inline-block;
    margin: 0 0.75em 0 0;
    padding: 0.5em;
    text-transform: uppercase;
    text-decoration: none;
}
button:hover {
    color: grey;
    background-color: #fff;
    text-decoration: none;
}

